[[language]]
name = "rust"
roots = ["Cargo.toml", "Cargo.lock"]
auto-format = false


[[language]]
name = "javascript"
formatter = { command = "prettier" }
language-servers = [
  "typescript-language-server", # optional
  "vscode-eslint-language-server",
]

[[language]]
name = "jsx"
formatter = { command = "prettier" }
language-servers = [
  "typescript-language-server",
  "vscode-eslint-language-server",
]

[[language]]
name = "typescript"
formatter = { command = "prettier" }
language-servers = [
  "typescript-language-server",
  "vscode-eslint-language-server",
]

[[language]]
name = "tsx"
formatter = { command = "prettier" }
language-servers = [
  "typescript-language-server",
  "vscode-eslint-language-server",
]

[[language]]
name = "java"
scope = "source.java"
injection-regex = "java"
file-types = ["java"]
roots = ["pom.xml", "build.gradle"]
language-servers = [ "jdtls" ]
indent = { tab-width = 4, unit = "    " }
# TODO: no idea what is going on here
# formatter = { command = "clang-format", args = ["--style=file"] }
formatter = { command = "find src/main/java/com/kameleoon -iname '*.java' | xargs clang-format -i", args= [ "--style-file:/home/slava/kameleoon/integrations/kafka-connect-commons/.clang-format"] }
# formatter = { command = "%{filename} | xargs clang-format -i --style-file:/home/slava/kameleoon/integrations/kafka-connect-commons/.clang-format" }

[[language]]
name = "odin"
scope = "source.odin"
file-types = ["odin"]
roots = ["ols.json", "main.odin"]
language-servers = ["ols"]
indent = { tab-width = 2, unit = "  " }
block-comment-tokens = { start = "/*", end = "*/" }
comment-token = "//"
injection-regex = "odin"
auto-format = false
formatter = { command = "odinfmt", args = ["-stdin", "true"] }

# Doesn't work for some reason (maybe related to comments)
[[language]]
name = "markdown"
language-servers = ["mdpls"]
comment-tokens = ["-", "+", "*", "- [ ]", ">"]

[[language]]
name="xml"
scope="source.axaml"
injection-regex="axaml"
file-types=["axaml"]
language-servers=["avalonials"]
grammar="xml"
auto-format=false
formatter={command="xaml-styler",args=["--write-to-stdout" ,"--take-pipe"]}

[[language]]
name = "c-sharp"
language-servers = ["csharp-ls"]


[language-server.csharp-ls]
command = "csharp-ls"

[language-server.avalonials]
command = "avalonia-ls"

[language-server.mdpls]
command = "/home/slava/.cargo/bin/mdpls"
config = { markdown.preview.auto = false, markdown.preview.browser = "google-chrome"}

[language-server.rust-analyzer.config.check]
command = "clippy"

[language-server.jdtls]
command = "jdtls"
args = [
  "-data",
  "/home/slava/.cache/jdtls/workspace",
  "--jvm-arg=-javaagent:/home/slava/.config/jdtls/lombok.jar",
]
